@import '../../../../scss/variables';

//main font-size: 16px;

.content {
    margin: 45px 0px;

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: capitalize;
        color: #838383;
        margin-bottom: 20px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 320px);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: center;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 320px);
        }

        @media (max-width: 799px) {
            grid-template-columns: repeat(1, 320px);
            grid-column-gap: 0px;
            grid-row-gap: 30px;
        }
    }

    &__item {
        background-color: $white;
        padding: 20px;
        border-radius: 20px;

        img {
            display: flex;
            margin: 0px auto;
            width: 120px;
            height: 233.33px;
        }

        h3 {
            font-size: 0.875rem;
            font-weight: 600;
            color: #1C1C27;
            margin: 20px auto;
        }
    }


    &__item_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.25rem;
            font-weight: 600;
            color: #1C1C27;
        }

        button {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            font-size: 0.75rem;
            font-weight: 600;
            background-color: $white;
            border: 1px solid $black;
            border-radius: 10px;
            transition: all $duration ease;
            cursor: pointer;

            span {
                @include flex-center-center; // display: flex; justify-content: center; align-items: center;
                width: 14px;
                height: 14px;
                background-color: $orange;
                border-radius: 50%;
                font-size: 0.75rem;
                color: $white;
                margin-left: 5px;
            }

            &:hover {
                background-color: $black;
                color: $white;
            }
        }
    }
}