@import '../../scss/variables';
@import '../../scss/libs/normalize';
//main font-fize: 16px;


.cart {
    position: absolute;
    top: 40px;
    right: 20px;
    padding: 10px;
    background-color: $white;
    border-radius: 20px;
    width: 340px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0;
    z-index: 1000;
    transition: opacity $duration ease;

    &__active {
        opacity: 1;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    button {
        padding: 5px;
        @include button;
        font-size: 0.6765rem;
        border-radius: 10px;
    }

    &__clear {
        width: 325px;
        margin: 60px auto;
        text-align: center;

        img {
            width: 225px;
        }

        h2 {
            font-size: 1.275rem;
            line-height: 35px;
            margin-top: 30px;
        }

        p {
            font-weight: 400;
            line-height: 24px;
            color: #838383;
            margin-bottom: 20px;
        }
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__items {
        margin: 20px auto;

        @media (max-width: 799px) {
            display: block;
        }
    }

    &__item {
        display: flex;
        background-color: $white;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 10px;

        @media (max-width: 1200px) {
            padding: 10px;
            width: 325px;
        }

        &_img {
            width: 40px;
        }

        &_count {
            @include flex-center-center; // display: flex; justify-content: center; align-items: center;

            button {
                @include flex-center-center; // display: flex; justify-content: center; align-items: center;
                @include noselect;
                width: 14px;
                height: 14px;
                padding: 0px;
                border: none;
                font-size: 0.6rem;
                color: $white;
                background-color: $orange;
                border-radius: 50%;
                transition: $duration;
                cursor: pointer;

                &:hover {
                    background-color: $countHover;
                }

                &:disabled {
                    opacity: 0.4;
                    background-color: $disabled;
                    cursor: default;


                }

                img {
                    width: 10px;
                }

            }

            span {
                font-size: 0.7375rem;
                font-weight: 600;
                line-height: 18px;
                margin: 0px 5px;
            }
        }

        &_title {
            width: 200px;
            margin-left: 20px;

            h3 {
                font-size: 0.7625rem;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }

        &_delete {
            @include noselect;
            font-size: 0.85rem;
            transition: color $duration ease;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
                color: #838383;
            }
        }
    }

    &__total {
        width: 200px;

        @media (max-width: 1200px) {
            width: 325px;
        }

        &_price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px;

            h2,
            p {
                font-size: 0.7375rem;
                font-weight: 600;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
    }
}