@import '../../scss/variables';

//main font-size: 16px;

.title {
    @include flex-center-center; // display: flex; justify-content: center; align-items: center;
    margin-top: 22px;
    background-color: $black;
    border-radius: 20px;

    height: 197px;

    &__name {
        text-align: center;
        font-size: 1.875rem;
        font-weight: 600;
        line-height: 40px;
        color: $white;
        width: 300px;
        margin: 0px 183px 0px 40px;

        @media (max-width: 1200px) {
            margin: 0px 40px 0px 40px;
        }

        @media (max-width: 799px) {
            margin: 0px;
        }
    }

    &__img {
        width: 245px;
        height: 189px;
        margin-top: auto;
        margin-bottom: 0px;

        @media (max-width: 799px) {
            display: none;
        }
    }
}