@import '../../scss/variables';

.title {
    margin-top: 22px;
    background-color: #101010;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 197px;

    &_name {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        color: #ffffff;
        width: 300px;
        margin: 0px 183px 0px 40px;
    }

    &_img {
        width: 245px;
        height: 189px;
        margin-top: auto;
        margin-bottom: 0px;
    }
}