.service {
    margin: 40px auto 60px;

    &_service,
    &_delivery,
    &_return {
        margin-bottom: 30px;
        padding: 15px 30px;
        background-color: #ffffff;
        border-radius: 30px;

        h2 {
            color: #1C1C27;
            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 15px;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
            padding-left: 15px;
        }
    }
}