@import '../../scss/variables';

//main font-size: 16px;

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
    padding: 30px;

    @media (max-width: 799px) {
        padding: 10px;
    }

    &_logo {
        font-size: 1.5625rem;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;

        @media (max-width: 799px) {
            font-size: 1.25rem;
            margin-right: 20px;
        }
    }

    &_menu {
        &_item {
            a {
                font-size: 0.9375rem;
                font-weight: 400;
                line-height: 20px;
            }

            &:hover {
                text-decoration: underline;
            }

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }
    }

    &_social {
        a {
            &:not(:last-of-type) {
                margin-right: 15px;
            }

            @media (max-width: 799px) {
                display: block;
                margin-bottom: 10px;

                &:not(:last-of-type) {
                    margin-right: 0px;
                }
            }
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}