@import '../scss/variables';
@import '../scss/libs/normalize';
@import '../scss/fonts.scss';

.wrapper {
    width: 1110px;
    margin: 0px auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
        width: 768px;
    }

    @media (max-width: 799px) {
        width: 325px;
    }
}

.main {
    flex: 1 1 auto;
}