@import '../../scss/variables';


.notfound {
    width: 540px;
    margin: 60px auto 120px;
    text-align: center;

    h2 {
        font-size: 1.875rem;
        line-height: 35px;
        margin-top: 30px;
    }

    p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 24px;
        color: #838383;
        margin-bottom: 20px;
    }

    button {
        padding: 8.5px;
        @include button;
    }
}

@media (min-width: 325px) and (max-width: 799px) {
    .notfound {
        width: 325px;
    }
}